---
import Search from '../components/Search.astro';
import { Word } from '../components/Word';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dictionary">
	<main>
		<Search />
		<Word client:only/>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-top: 59px;
	}

	@media screen and (width <= 810px) {
		main {
			padding-inline: 40px;
			min-width: 100%;
		}
	}

	@media screen and (width <= 540px) {
		main {
			padding-inline: 24px;
			padding-top: 24px;
		}
	}
	
</style>
